
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
	var data = google.visualization.arrayToDataTable([
	  ['Week', 'Dialogues'],
	  ['March-1',  100],
	  ['March-8',  117],
	  ['March-15',  260],
	  ['March-22',  430],
	]);

	var options = {
	  title: 'Dialogues per week',
	  curveType: 'function',
	  legend: { position: 'bottom' }
	};

	var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

	chart.draw(data, options);
  }
</script>


<div class="col-xs-12 ">
 <div id="curve_chart" style="height:400px"></div>
</div>

