{% extends 'dialogues/base.html'%}
{% load staticfiles %}

{% block title %} Home - Dialogues for Peace! {% endblock %}

{% block maincontent %}


    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   	<div class="intro-text" > <span class="name btn-lg" style="color:black;text-style:italic;text-shadow: 2px 2px #FFFFFF;" id="total_count"> {{total_count}}</span></div> 
                    <div class="intro-text">
                        <span style="color:white;font-size:35px;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;">Heart-to-heart dialogues conducted in Karnataka!</span>
                    </div>
                </div>
            </div>
			<br/>
            <div class="row">
                <div class="col-lg-12">
					<div id="dialogue_submit_response_message" style="display:none;color:yellow;font-size:2em;margin-bottom:10px"> Congratulations! Your dialogue has been recorded!  </div>
				</div>
            </div>
            <div class="row">
                <div class="col-lg-12">
					<a class="btn btn-lg btn-info" id = "more_dialogue_button" href="#newDialogueRow" style="display:none;"> Report one more! </a>
                </div>
            </div>
        </div>
    </header>

<h2>	{{submit_msg}} </h2>
  <!-- Record Dialogue Section -->
    <section id="contact">
	{% include 'dialogues/new_dialogue_form.html' %}
     </section>


    <!-- Chart Grid Section -->
    <section id="charts">
        <div class="container">
            <div class="row">
					{% include 'dialogues/chart_linecurve.html' %}
			</div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>"Dialogue is an adventure, an adventure available to anyone. And sometimes it’s an adventure whose outcome can change history." - Dr Daisaku Ikeda</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.ikedaquotes.org/dialogue/" class="btn btn-lg btn-outline">
                        <i class="fa fa-light"></i> Quotes about Dialogue 
                    </a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
~
