{% extends 'dialogues/base.html'%}
{% load staticfiles %}

{% block title %} Home - Dialogues for Peace! {% endblock %}

{% block maincontent %}

<section>

<h2> Leaders' Dashboard </h2>

<div class="container">
<div class="row">
	<div class="col-md-12">
	<div class="alert alert-info"><h4>Leader's Dashboard</h4></div>
	<div class="tabs-x tabs-left tabs-krajee">
            <ul id="myTab-3" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#summary" role="tab" data-toggle="tab" aria-expanded="false"><i class="glyphicon glyphicon-home"></i> Summary</a></li>
                <li class=""><a href="#trends" role="tab-kv" data-toggle="tab" aria-expanded="true"><i class="glyphicon glyphicon-user"></i>
                    Trends</a></li>
                <li class="dropdown">
                    <a href="#" id="myTabDrop-3" class="dropdown-toggle" data-toggle="dropdown" title="Downloads"><i class="glyphicon glyphicon-list-alt"></i> Downloads <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop-1">
                        <li><a href="#dialogue_list" tabindex="-1" role="tab" data-toggle="tab" title="Dialogue List">
                            <i class="glyphicon glyphicon-chevron-right"></i> Dialogue List</a></li>
                        <li><a href="#per_district_count" tabindex="-1" role="tab" data-toggle="tab" title="Per District Count">
                            <i class="glyphicon glyphicon-chevron-right"></i> Per District Count</a></li>
                    </ul>
                </li>
                <li class="disabled"><a href="#disabled-3"><i class="glyphicon glyphicon-knight"></i> Disabled</a></li>
            </ul>
            <div id="myTabContent-3" class="tab-content" style="min-height: 420px;">
                <div class="tab-pane fade active in" id="summary">
					<div class="row">
						<div class="col-md-6">
							Total Counter: {{total_count}}
						</div>
						<div class="col-md-6">
							Some chart here
						</div>
					</div>
                </div>
                <div class="tab-pane fade " id="trends">
					Discussion trends here
                </div>
                <div class="tab-pane fade" id="dialogue_list">
                    <p></p><h4>Download >> All Dialogue List</h4>
                    
					<button class="btn btn-lg"> Download XLS<button>
					<p></p>
                </div>
                <div class="tab-pane fade" id="per_district_count">
                    <p></p><h4>Downloads » Per District Count</h4>

					Trust fund seitan letterpress, keytar raw denim keffiyeh etsy

					<button class="btn btn-lg"> Download XLS<button>
					<p></p>
                </div>
                <div class="tab-pane fade" id="disabled-3">Disabled Content</div>
            </div>
</div>
</div>

</div>

</div>
</section>
{%endblock %}
