{% extends 'dialogues/base.html'%}
{% load staticfiles %}

{% block title %} Home - Dialogues for Peace! {% endblock %}

{% block maincontent %}

<br/>
<br/>
<br/>
<br/>

<section >
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<p></p><h4>My dialogues list</h4>
			<br/>
			<br/>
		</div>
	</div>


	{% if display_message %}
	<div class="row">
		<div class="col-lg-6">
		<p>{{display_message}} </p>
		</div>

	</div>
	{% else %}
	<div class="row">
		<div class="col-lg-6">
			<p> Please enter your email address, used on this website. </p>
			<p> You'll receive an email with a summary of your dialogues so far. </p>
		</div>
		<div class="col-lg-6" >
			<div class="row">
			<div id="email_form">
				<form class="form-horizontal" name="LoginForm" action="/dialogues/my_dialogues/" method="post">
					{% csrf_token %}
					<input type="email" class="form-control" placeholder="Email" name="email" id="email" required="" data-validation-required-message="Enter member email.">
					<button type="submit" class="btn btn-success" style="margin-top:10px">Send email</button>
				</form>
			</div>
		</div> <!-- col-->
	</div> <!-- row -->
	{% endif %}
</div> <!-- container -->

</section>
{% endblock %}
~
