  <div class="container" style="margin-top:5px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>Record a new Dialogue!</h4>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="newDialogue" id="newDialogueForm" novalidate="" method="POST" action="/dialogues/submit_new_dialogue/" >
					{% csrf_token %}
					<div class="row control-group">
                            <div class="form-group col-xs-6 floating-label-form-group-with-focus controls">
                                <label>Choose Zone</label>
									<select class="form-control" id="zone_select" placeholder="Zone (GA)" data-validation-required-message="Choose Zone">
										<option value='0'> -Choose Zone- </option>
										{% for zone in zone_list %}
												<option value='{{zone.id}}'> {{zone.name}} </option>
										{%endfor %}
									</select>
                                <p class="help-block text-danger"></p>
                            </div>
						  	<div class="form-group col-xs-6 floating-label-form-group-with-focus controls">
                                <label>Choose Region</label>
									<select class="form-control" disabled id="region_select" placeholder="Region (Area)" data-validation-required-message="Choose Region">
										{% for region in region_list %}
												<option value='{{region.id}}'> {{region.region_name}} </option>
										{%endfor %}

									</select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
						<div class="row control-group">
                            <div class="form-group col-xs-6 floating-label-form-group-with-focus controls">
                                <label>Choose Chapter</label>
									<select class="form-control" disabled id="chapter_select" placeholder="Chapter" data-validation-required-message="Choose Chapter">
										{% for chapter in chapter_list %}
												<option value='{{chapter.id}}'> {{chapter.chapter_name}} </option>
										{%endfor %}
									</select>
                                <p class="help-block text-danger"></p>
                            </div>
						  	<div class="form-group col-xs-6 floating-label-form-group controls">
                                <label>Choose District</label>
									<select class="form-control" disabled id="district_select" name="district_select" placeholder="District" data-validation-required-message="Choose District">
										{% for district in chapter_list %}
												<option value='{{chapter.id}}'> {{chapter.chapter_name}} </option>
										{%endfor %}
									</select>
                                <p class="help-block text-danger"></p>
                            </div>

                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-6 floating-label-form-group controls">
                                <label>Member's name</label>
                                <input type="text" class="form-control" placeholder="Member Name" name="member_name" id="member_name" required="" data-validation-required-message="Enter member name.">
                                <p class="help-block text-danger"></p>
                            </div>
                         <div class="form-group col-xs-6 floating-label-form-group controls">
                                <label>Member's email</label>
                                <input type="email" class="form-control" placeholder="Email Address" name="member_email" id="member_email" required="" data-validation-required-message="Please enter member's email address.">
                                <p class="help-block text-danger"></p>
                            </div>
	
                        </div>
                        <div class="row control-group">
   							<div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Friend's name</label>
                                <input type="text" class="form-control" placeholder="Friend's Name" name="friend_name" id="friend_name" required="" data-validation-required-message="Enter Friend's name.">
                                <p class="help-block text-danger"></p>
                            </div>
						</div>
                        <div class="row control-group">
   							<div class="form-group col-xs-6 floating-label-form-group-with-focus controls">
                                <label>Are you human? What is 5 + 4 = ?</label>
                                <input type="text" class="form-control" placeholder="Verify" name="are_you_human" id="are_you_human" required="" data-validation-required-message="Answer this question:">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group col-xs-6 ">
                                <button type="submit" id="dialog_submit_button" class="btn btn-success btn-lg center" style="margin-left:20px; margin-top:8px">Register Dialogue</button>
							</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<script src="static/dialogues/js/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
$(function(){


	function refresh_total_count() {
	$.ajax({
			   type: "GET",
			   url: 'dialogues/ajax_get_total_count/',
			   success: function(data)
			   {
				   $("#total_count").text(data);
			   }
		 });
	
	}	

	function validate_email(userinput)  {
    	var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    	return re.test(userinput);
	}


	$("#dialog_submit_button").click(function(event){
		email_id = $('#member_email').val();
		if (!validate_email(email_id)) {
			alert("Invalid email address");
		}
	    var submit_url = "dialogues/ajax_submit_new_dialogue/"; // the script where you handle the form input.

    $.ajax({
           type: "POST",
           url: submit_url,
           data: $("#newDialogueForm").serialize(), // serializes the form's elements.
           success: function(data)
           {
               alert(data); // show response from the php script.
			   refresh_total_count();
           }
         });
		event.preventDefault();
		$("html, body").animate({ scrollTop: 0 }, "slow");	

	});

  $("select#zone_select").change(function(){
	var selected_val = $(this).val(); 
	//alert(selected_val);
	$.ajax({
	  url: "dialogues/ajax_get_regions_in_zone/"+selected_val+"/",
	  beforeSend: function( xhr ) {
		xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
	  }
	})
	  .done(function( data ) {
      	$("select#region_select").html(data);
      	$("select#region_select").prop('disabled',false);
	  });
    })
  $("select#region_select").change(function(){
	var selected_val = $(this).val(); 
	//alert(selected_val);
	$.ajax({
	  url: "dialogues/ajax_get_chapters_in_region/"+selected_val+"/",
	  beforeSend: function( xhr ) {
		xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
	  }
	})
	  .done(function( data ) {
      	$("select#chapter_select").html(data);
      	$("select#chapter_select").prop('disabled',false);
	  });
    })
  $("select#chapter_select").change(function(){
	var selected_val = $(this).val(); 
	//alert(selected_val);
	$.ajax({
	  url: "dialogues/ajax_get_districts_in_chapter/"+selected_val+"/",
	  beforeSend: function( xhr ) {
		xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
	  }
	})
	  .done(function( data ) {
      	$("select#district_select").html(data);
      	$("select#district_select").prop('disabled',false);
	  });
    })

})
</script>


