<script type="text/javascript" src="/static/dialogues/js/jquery-latest.js"></script> 
<script type="text/javascript" src="/static/dialogues/js/jquery.tablesorter.js"></script> 

<h5> District-wise Homevisits count </h5>
<table id="myTable" class="tablesorter"> 
<thead> 
<tr> 
    <th>District Name</th> 
    <th>Total Count</th> 
</tr> 
</thead> 
<tbody> 

		{% for dist in district_hv_count_zero_list %}

		<tr>
			<td style="color:red"> {{dist.district_name}}</td> <td> 0</td>
		</tr>
		{% endfor %}
		{% for dist in district_hv_count_list %}
		<tr>
			<td> {{dist.district__name}}</td> <td>{{dist.count}}</td>
		</tr>
		{% endfor %}

</tbody> 
</table> 

<script type="text/javascript">
 $("#myTable").tablesorter() 

</script>
